{% extends "Accueil/index.html.twig" %}
{% block vue %}

<h3>Opus !!!</h3> 
<h4>Cette page n'existe pas :-/</h4>
<img rel=stylesheet type=image src="{{ url_for('static', filename='erreur4.png')}}" alt="Accueil"/><br />
{% endblock %}