{% extends "Accueil/base.html.twig" %}

	{% block title %} Projet telecom DIC1 TR {% endblock %}
	
	{% block titre_page %} Dimensionnement des Reseaux {% endblock %}
	
	{% block description %} {% endblock %}  
 
	{% block vue %}<h2>Bienvenue a l'accueil</h2>
	<p>Ce projet a ete realise avec le framework flask et le langage python.
	<h3>Projet Dimensionement Reseaux </h3>
	<p>Nous avons choisi de faire notre presentation en utilisant le micro-framework de python <strong>Flask</strong> :un framework rapide a prendre en main .</br>
	<p>Flask est un framework open-source de développement web en Python.</br>
	 Son but principal est d'être léger, afin de garder la souplesse de la programmation Python, associé à un système de templates.
	</p>
	
	
	<h3>Pré-requis</h3>
	Avant de realiser ce travail, il etait important pour de maitriser d'abord :
	<ul>
		<li>le fonctionnemnt de l'architecture MVC</li>
		<li>le moteur de template TWIG pour manipuler les vues</li>
		<li>le langage python pour la partie du controleur</li>
	</ul> 
	
	
	
	
	</p>{% endblock %}