{% extends "ErlangC/index.html.twig" %}
{% block res %}
  
  <h2>Resultat</h2>
<div style="text-align: center;">
			<table align="center" bgcolor="#ff8c00" width="65%" >
				<tr>
					<td><h4>Le trafic offert = <mark>{{ toff }}</mark> </h4> </td>
				</tr>
				<tr>
					<td><h4>Le nombre de circuit =<mark>{{ ndc}}</mark> </h4></td>
				</tr>
				<tr>
					<td><h4>Probabilité d'attente =<mark> {{ tdb }} </mark> </h4></td>
				</tr>
</table>
</div>

  
{% endblock %}